                    /*general*/

* {
    margin: 0;
    padding: 0;
}
html  {
    max-width: 1400px;
}
body {
    margin-top: 5rem;
}
button:hover {
    cursor: pointer;
    color: red;
}
                     /*header*/

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    display: flex;
    justify-content: space-between;
    height: 5rem;
    padding-inline: 1rem;
}
.navbar-sx {
    display: flex;
    align-content: center;
}
.navbar-dx {
    display: flex;
    align-content: center;
}
.logo {
    height: 1rem;
    padding-top: 2rem;
}
.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
}
.navbar a {
    text-decoration: none;
}

li {
    padding-right: 1rem;
    padding-left: 1rem;
}
.start {
    padding-inline: 0.5rem;
    background-color: #448BFF;
    color: white;
    height: 2rem;
    margin-top: 1.5rem;
    border: 0;
}
a:hover {
    color: red;
}


/*jumbo*/

.head-section {
    
    background-color: #B4D0E7;
    padding-bottom: -4rem;
}
.content {
    display: flex;
    margin-left: 15rem;
    margin-right: 15rem;
    margin-top: 2rem;
}
.title {
    text-align: center;
    font-size: 4rem;
    margin-left: 13rem;
    margin-right: 13rem;
}
.jumbo {
    flex: 0 0 70%;
    min-width: 0;
    margin-bottom: -75px;
}
.text {
    flex: 0 0 30%;
}
.head-section .content .text button {
    background-color: #448BFF;
    border: 0;
    color: white;
    padding-inline: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


                   /*main*/
            

/*section-1*/

.head-section .content .text p {
    font-size: .9rem;
}
.head-section .content .text a i {
    color: black;
    margin-top: 3rem;
    font-size: 2rem;
}
main .content {
    display: flex;
    flex-direction: column;
}
.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 6rem;
    
}
.sub-title {
    margin-top: 7rem;
    margin-left: 2rem;
}
main .content .sub-title p {
    font-size: .8rem;
}
.blue {
    color: blue;
}
.title-2 {
    text-align: left;
    font-size: 2rem;
    padding-bottom: 2rem;
}
.sub-title p {
    display: inline;
    padding-right: 1rem;
    
}
.option {
    border: 1px solid black;
    height: 850px;
    width: 250px;
    position: relative;
}
.option-x {
    border: 1px solid black;
    width: 820px;
    height: 200px;
    position: relative;
}
.option-title {
    position: absolute;
    top: 0;
    border-bottom: 1px solid black;
    text-align: center;
    width: 250px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.option-x .option-title {
    width: 820px;
}
.info {
    padding-inline: 1.5rem;
    padding-top: 4rem;
}
.info h3 {
    padding-bottom: 1rem;
}
.info .euro {
    padding-bottom: 1rem;
}
.time {
    padding-bottom: 2rem;
    color: gray;
}
.option-list li {
    padding-bottom: 1rem;
}
.info .link {
    padding-top: 1rem;
    padding-bottom: 2rem;
}
.info h4 {
    padding-top: 3rem;
    padding-bottom: 2rem;
}    

.option-list  ul {
    display: flex;
    flex-direction: column;
}
.info ul {
    list-style: none;
}
.info hr {
    color: gray;
    width: 20%;
}
.option-x .info {
    display: flex;
    justify-content: space-between;
}
.info-2 {
    padding-top: .5rem;
}
.info-3 {
    padding-top: 1rem;
}
.option-list {
    font-size: .9rem;
}
.option .info button {
    background-color: #448BFF;
    color: white;
    height: 2rem;
    border: 0;
    font-size: .8rem;
    padding-inline: 1rem;
}
.option .info p, h4 {
    font-size: .8rem;
}
.fa-check {
    color: blue;
}
.btn-x {
    background-color: #448BFF;
    border: 0;
    color: white;
    padding-inline: 1rem;
    font-size: .8rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
/*section-2*/

.c2 {
    display: flex;
    flex-direction: row-reverse;
    margin-left: 15rem;
    margin-right: 15rem;
    margin-top: 8rem;
}
.partner {
    flex: 0 0 70%;
    min-width: 0;
}
.c2 .text {
    padding-left: 2rem;
    padding-top: 4rem;
}
.c2 .text h3 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
}
.c2 .text p {
    padding-bottom: 1rem;
    font-size: .8rem;
}
.c2 .text button {
    background-color: white;
    border: 1px solid black;
    padding-inline: 1rem;
    font-size: .7rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
/*section-3*/

.title-3 {
    text-align: left;
    font-size: 2rem;
    padding-top: 4rem;
    padding-bottom: 2rem;
}
.s3 {
    margin-left: 15rem;
    margin-right: 15rem;
}
.row {
    display: flex;
    gap: 2rem;
    padding-bottom: 2rem;
}
.container {
    
    height: 450px;
    width: 250px;
}
.card {
    flex: 0 0 30%;
    width: 100%;
}
.container .text h3 {
    padding-bottom: 2rem;
}

/*section-4*/

.s-4 {
    margin-left: 15rem;
    margin-right: 15rem;
}
.title-4 {
    font-size: 2rem;
    padding-bottom: 2rem;
}
.s-4 a {
    padding-bottom: 5rem;
}

/*square*/

#square {
    width: 100%;
    height: 400px;
    display: flex;
    padding-top: 4rem;
}
.square-sx {
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    
}
.square-cnt {
    width: calc(100% / 3);
    height: 100%;
    background-color: #FFFFFF;
}
.square-dx {
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    
}
.sub-square {
    width: calc(100% / 2);
    height: calc(100% / 2);
    display: flex;
    align-items: center;
    justify-content: center;
}
.sq-img {
    width: 50%;
}
.sq-img-cnt {
    width: 40%;
    padding-left: 2rem;
    padding-top: 2rem;
}
.square-cnt hr {
    color: lightgray;
    width: 20%;
    margin-left: 2rem;
    margin-top: 2rem;
}
.square-cnt p {
    padding-top: 2rem;
    padding-inline: 2rem;
}
.sq1 {
   background-color: #A2D39B;
}
.sq2 {
    background-color: #61082B;
}
.sq3 {
    background-color: #0093CE;
}
.sq4 {
    background-color: #FF1C1C;
}
.sq5 {
    background-color: #D5001F;
}
.sq6 {
    background-color: #B4D0E7;
}
.sq7 {
    background-color: #0D2481;
}
.sq8 {
    background-color: #FFD830;
}

/*section-6*/

.s-6 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #B4D0E7;
    height: 200px;
    padding-left: 15rem;
    padding-right: 15rem;
}
.title-6 {
    font-size: 2rem;
}
.s-6 button {
    background-color: white;
    border: 0;
    padding-inline: 1rem;
    font-size: .7rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

/*section-7*/

.s-7 {
    margin: 4rem 15rem 4rem 15rem
}

/*footer*/

footer {
	padding-top: 6rem;
	padding-bottom: 6rem;
	background-color: black;
}
footer .first-level-list {
	display: flex;
    justify-content: center;
	list-style: none;
}
footer .first-level-list {
	flex: 0 0 100%;
}
footer .first-level-list .column-links {
	flex: 0 0 10%;
}
footer .first-level-list h5 {
    color: white;
    font-size: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
}
footer .first-level-list li {
    list-style: none;
}
footer .first-level-list a {
    text-decoration: none;
    color: white;
    font-size: .6rem;
    padding-top: .9rem;
}
.nav-footer hr {
    width: 6%;
    margin-top: 3rem;
    margin-left: 18rem;
}
footer p {
    color: white;
    font-size: .6rem;
    margin-top: 3rem;
    margin-left: 18rem;
}
