                    /*general*/

* {
    
    margin: 0;
    padding: 0;
}
html  {
    max-width: 1400px;
}
body {
    margin-top: 5rem;
}
                     /*header*/

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    display: flex;
    justify-content: space-between;
    height: 5rem;
    padding-inline: 1rem;
}
.navbar-sx {
    display: flex;
    align-content: center;
}
.navbar-dx {
    display: flex;
    align-content: center;
    
}
.logo {
    height: 1rem;
    padding-top: 2rem;
}
.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
}
.navbar a {
    text-decoration: none;
}
li {
    padding-right: 1rem;
    padding-left: 1rem;
}
.start {
    padding-inline: 0.5rem;
    background-color: blue;
    color: white;
   
}
a:hover {

}

/*jumbo*/

.head-section {
    
    background-color: #B4D0E7;
    padding-bottom: -4rem;
}
.content {
    display: flex;
    margin-left: 15rem;
    margin-right: 15rem;
}
.title {
    text-align: center;
    font-size: 4rem;
    margin-left: 13rem;
    margin-right: 13rem;
}
.jumbo {
    flex: 0 0 70%;
    min-width: 0;
    margin-bottom: -75px;
}
.text {
    flex: 0 0 30%;
}

                   /*main*/

/*section-1*/

main .content {
    display: flex;
    flex-direction: column;
}
.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 6rem;
    
}
.sub-title {
    margin-top: 7rem;
}
.title-2 {
    text-align: left;
    font-size: 2rem;
    padding-bottom: 2rem;
}
.sub-title p {
    display: inline;
    padding-right: 1rem;
    
}
.option {
    border: 1px solid black;
    height: 956px;
    width: 250px;
    position: relative;
}
.option-x {
    border: 1px solid black;
    width: 820px;
    height: 200px;
    position: relative;
}
.option-title {
    position: absolute;
    top: 0;
    border-bottom: 1px solid black;
    text-align: center;
    width: 250px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.option-x .option-title {
    width: 820px;
}
.info {
    padding-inline: 1.5rem;
    padding-top: 4rem;
}
.info h3 {
    padding-bottom: 1rem;
}
.info .euro {
    padding-bottom: 1rem;
}
.time {
    padding-bottom: 2rem;
}
.option-list li {
    padding-bottom: 1rem;
}
.info .link {
    padding-top: 1rem;
    padding-bottom: 2rem;
}
.info h4 {
    padding-top: 3rem;
    padding-bottom: 2rem;
}    

.option-list  ul {
    display: flex;
    flex-direction: column;
}
.info ul {
    list-style: none;
}
.info hr {
    color: gray;
    width: 20%;
}
.option-x .info {
    display: flex;
    justify-content: space-between;
}
.info-2 {
    padding-top: .5rem;
}
.info-3 {
    padding-top: 1rem;
}

/*section-2*/

.c2 {
    display: flex;
    flex-direction: row-reverse;
    margin-left: 15rem;
    margin-right: 15rem;
    margin-top: 8rem;
}
.partner {
    flex: 0 0 70%;
    min-width: 0;
}

/*section-3*/

.title-3 {
    text-align: left;
    font-size: 2rem;
    padding-top: 4rem;
    padding-bottom: 2rem;
}
.s3 {
    margin-left: 15rem;
    margin-right: 15rem;
}
.row {
    display: flex;
    gap: 2rem;
    padding-bottom: 2rem;
}
.container {
    
    height: 450px;
    width: 250px;
}
.card {
    flex: 0 0 30%;
    width: 100%;
}
.container .text h3 {
    padding-bottom: 2rem;
}

