/*general*/

* {
    margin: 0;
    padding: 0;
}
html  {
    max-width: 1400px;
}
/*header*/

.navbar {
    display: flex;
    justify-content: space-between;
    height: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.navbar-sx {
    display: flex;
    align-content: center;
}
.navbar-dx {
    display: flex;
    align-content: center;
    
}
.logo {
    height: 1rem;
    padding-top: 1rem;
}
ul {
    list-style: none;
    display: flex;
    align-items: center;
}
a {
    text-decoration: none;
}
li {
    padding-right: 1rem;
    padding-left: 1rem;
}

/*jumbo*/

.head-section {
    box-sizing: border-box;
    background-color: cyan;

}
.content {
    display: flex;
    margin-left: 15rem;
    margin-right: 15rem;
}
.title {
    text-align: center;
    font-size: 4rem;
    margin-left: 13rem;
    margin-right: 13rem;
}
.img {
    background-image: url("../img/jumbo.png");
    background-size: cover;
}

/*main*/

.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}